.header h1 {
  font-family: Didot;
  font-size: 50px;
  margin: 0px auto;
}

.header p {
  margin: 0px 0px 10px 0px;
}



.navbar {
  width: 100%;
  background-color: lightgray;
  padding: 1px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


.navbox {
  background: orangered;
  min-width: 100px;
  flex: 1 1 auto;
  font-size: 20px;
  border: 1px white;
}

.navbox:hover {
  background: white;
  color: orangered;
}

a.navbox {
  text-decoration: none;
  color: white;
}
