body {
    font-family: Didot;
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.courier {
  font-family: Courier;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  margin: 0px auto;
  font-style: italic;
  text-align: center;
  z-index: 10;
  background-color: white;
}

header h1 {
  font-family: Didot;
  font-size: 40px;
  margin: 0px auto;
  display: inline;
}

header p {
  margin: 0px 0px 5px 0px;
  background-color: white;
  font-size: .8em;
}

nav {
  width: 1000px;
  display: flex;
  flex-direction: row;
}

.headerbox {
  text-decoration: none;
  color: black;
  width: auto;
}

.navbox {
  background: orangered;
  min-width: auto;
  flex: 1 1 0;
  font-size: 20px;
}

.navbox:hover {
  background: white;
  color: orangered;
}

a.navbox {
  text-decoration: none;
  color: white;
}

.navshell {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: orangered;
}

/* Container */

.bodyshell {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.contentcontainer {
  max-width: 1000px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.post {
  background-color: #e8e8e8;
  padding: 5px;
  border-radius: 2px;
}

.posthead {
  background: gold;
  flex: 1 1 0;
  font-size: 20px;
  padding: 0px 5px;
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
  font-style: italic;
  border-radius: 2px;
}

.post p {
  margin: 5px;
}

/* Posts, Left Bar */

.leftposts {
  width: 100%;
  flex: 1 1 auto;
  margin: 1px;
}

/* Right Bar */

.rightposts {
  width: 100%;
  flex: 2 2 auto;
  margin: 1px;
}

/* Footer */

footer {
  height: 73px;
  background-color: #e8e8e8;
  margin: 2px 1px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer h6 {
  margin-left: 20px;
}

/* Media Queries */

@media only screen and (min-width: 471px) {
  .slname {
    display: none;
  }
}

@media only screen and (max-width: 748px) and (min-width: 471px) {
  header p {
    display: none;
  }

  .bodyshell {
    margin-top: 77px;
  }
}

@media only screen and (max-width: 470px) {
  header p {
    display: none;
  }

  .sealoacename {
    display: none;
  }

  .bodyshell {
    margin-top: 77px;
  }

  .contentcontainer {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
