body {
    font-family: Didot;
}

#header {
  font-style: italic;
  text-align: center;
}

#header h1 {
  display: inline;
  font-family: Didot;
  font-size: 50px;
  padding: 0px 0px 0px 0px;
  margin: 0px auto;
  text-transform: uppercase;
}

#header p {
  margin: 0px 0px 10px 0px;
}

.navbar {
  min-width: 800px;
  background-color: lightgray;
  z-index: 5;
  padding: 1px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.navbox {
  background: orangered;
  min-width: 200px;
  flex-grow: 2;
  font-size: 20px;
  border: 1px white;
}

.navbox:hover {
  background: white;
  color: orangered;
}

a.navbox {
  text-decoration: none;
  color: white;
}
